.login-box {
    background-color: blanchedalmond;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#search-form {
    background-color: whitesmoke;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

#search-query {
    all: unset;
    background-color: white;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

.search-nav{
    padding:10px;
}

::placeholder {
    opacity: 0.7; 
  }

#search-button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

.classified-thumbnail {
  width: 300px;
  height: 300px;
}

.cost-type-btn {
  color: aliceblue;
  background-color: orange;
}





/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: lightgoldenrodyellow;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



/* Cards */
/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;

  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
} */

.grid-container {
  display: grid;
  /* grid-column-gap: 50px; */
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 520px;
}



/* Blog post */
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

.classified-body {
  padding: 20px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Resize classified image  */
.classified-img {
  width: 700px;
  height: 700px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: pink;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


/* body {
  display: grid;
  grid-template: 'head' 'map' 1fr / auto;
} */

/* header {
  grid-area: head;
} */

/* main {
  grid-area: map;
} */

/* nav {
  display: flex;
  background: rgb(88, 89, 91);
} */

nav p, nav a, nav button {
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0.5em;
  font-size: 1em;
  font-family: inherit;
}
/* 
nav a, nav button {
  border-bottom: 3px solid white;
} */

nav a:hover, nav button:hover {
  cursor: pointer;
  border-bottom: 0;
}

/* #links-right {
  margin-left: auto;
} */

#published-navbar{
  background-color: magenta;
  color: magenta;
}

/* Map */
.map, #map {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
}
