body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Merriweather', serif;
}

.nav-order {
  display: flex;
  justify-content: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.login-box {
    background-color: blanchedalmond;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#search-form {
    background-color: white;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

#search-query {
    all: unset;
    background-color: white;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

.search-nav{
    padding:10px;
}

::placeholder {
    opacity: 0.7; 
  }

#search-button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

.classified-thumbnail {
  /* width: 300px;
  height: 300px; */
  object-fit: contain;
}

.cost-type-btn {
  color: aliceblue;
  background-color: orange;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 10px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* background-color: blanchedalmond; */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* Cards */
.grid-container {
  display: grid;
  /* grid-column-gap: 50px; */
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  padding-bottom: 100px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 520px;
}



/* Blog post */
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 65%;
}

.classified-body {
  padding: 35px 180px 50px 180px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.leftcolumn .card {
  padding: 50px;
}

/* Resize classified image  */
.classified-img {
  width: 600px;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #fff4e4;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}



nav p, nav a, nav button {
  display: inline-block;
  color: black;
  padding: 0;
  margin: 0.5em;
  font-size: 1em;
  font-family: inherit;
  /* position: fixed; */
}

nav a:hover, nav button:hover {
  cursor: pointer;
  border-bottom: 0;
}


/* Map */
.map, #map {

  min-width: 300px;
  min-height: 300px;
  vertical-align: middle;
  word-wrap: break-word;
  box-sizing: border-box;
}

