.login-box {
    background-color: blanchedalmond;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#search-form {
    background-color: whitesmoke;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

#search-query {
    all: unset;
    background-color: white;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

::placeholder {
    opacity: 0.7; 
  }

#search-button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

.classified-thumbnail {
  width: 300px;
  height: 300px;
}