{% extends 'base.html' %}

{% block title %}{{ classified.post_title | capitalize }}{% endblock %}

{% block body %}

<fieldset class="classified-body">
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{ classified.post_title | capitalize }}</h2>
        <h6>Posted: {{ classified_gregorian_date }}</h6>
        <time datetime="{{ classified.post_time }}"></time>
        <br>
        <img src="{{ classified.post_image }}" class="classified-img">
        <br>
        <h5><strong>Description</strong></h5>
        <p>{{ classified.description }}</p>
        <br>
        <h5><strong>Price</strong></h5>
          {% if classified.cost == "N/A" %}
            N/A
          {% else %}
            <p>${{classified.cost}}</p>
          {% endif %}
        <br>

        {% if classified.cost_type %}
          <p style="color: #c26631;">For {{ classified.cost_type }}</p>
        {% endif %}
        <br>

        <h5><strong>Tags</strong></h5>
        <p>
        {% for tag in classified.tags %}
          <button type="button" class="btn btn-outline disabled" style="color: #c26631; padding: 5px; border: #c26631 solid 1px; margin: 3px;">{{ tag.tag_label|title }}</button>
        {% endfor %}
        </p>

        <br>
        <form action="/classified/{{classified.classified_id}}/message">
          <input type="submit" name="message" value="Contact Florist" class="btn btn-outline" style="background-color: #e6a165;">
        </form>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h3>Location</h3>
        <p>
          {% if classified.postal_code %}
            {{ classified.location }}
            <section class="map">
              <div id="map"></div>
            </section>
          {% elif classified.postal_code == 0 %}
            <div>Not available</div>
          {% endif %}
        </p>
        <p class='postal_code' hidden>{{ classified.postal_code }}</p>
      </div>

      <div class="card">
        <h2>About the florist</h2>
        <img src="{{ classified.user.image }}">
        <br>
        <h6><strong>{{ classified.user.fname }} {{ classified.user.lname }}</strong></h6>
        <p>Joined in: {{ user_gregorian_date }}</p>

        {% if classified.user.about_me %}
          <p>{{ classified.user.about_me }}</p>
        {% endif %}
      
      
      </div>
      <div class="card">
        <h5>Other classifieds from {{ classified.user.fname }}</h5>
        <br>
        {% for user_classified in classified.user.classifieds %}

          {% if user_classified.classified_id != classified.classified_id  %}
            <a href="/classified/{{ user_classified.classified_id }}">
              <h6>{{ user_classified.post_title | capitalize }}</h6>
            </a>
            <img src="{{ user_classified.post_image }}">
            <br><br>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</fieldset>

<script src="/static/js/classified_details.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script>

{% endblock %}