{% extends 'base.html' %}

{% block title %}{{ classified.post_title }}{% endblock %}

{% block body %}
<fieldset class="classified-body">
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{ classified.post_title }}</h2>
        <h5>Posted: {{ classified.post_time }}</h5>
        <img src="{{ classified.post_image }}" class="classified-img">
        <br>
        <p>Description: {{ classified.description }}</p>
        <p>Price: $
          {% if classified.cost %}
            {{classified.cost}}
          {% else %}
            0
          {% endif %}
        </p>
        <p>For {{ classified.cost_type }}</p>

        <p>Tags:
        {% for tag in classified.tags %}
          {{ tag.tag_label|title }}
        {% endfor %}
        </p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h3>Location</h3>
        <p>
          {% if classified.postal_code %}
            Zip: {{ classified.postal_code }}
          {% endif %}
        </p>
        <p class='postal_code' hidden>{{ classified.postal_code }}</p>
        <section class="map">
          <div id="map"></div>
        </section>
      </div>

      <div class="card">
        <h2>About the florist</h2>
        <img src="{{ classified.user.image }}">
        <p>{{ classified.user.fname }} {{ classified.user.lname }}</p>
        <p>Joined in: {{ classified.user.created_at }}</p>
        <p>{{ classified.user.about_me }}</p>
      </div>
      <div class="card">
        <h5>Other classifieds from florist</h5>

        {% for user_classified in classified.user.classifieds %}

          {% if user_classified.classified_id != classified.classified_id  %}
            <a href="/classified/{{ user_classified.classified_id }}">
              {{ user_classified.post_title }}
            </a>
            <img src="{{ user_classified.post_image }}">
            <br><br>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</fieldset>

<div class="footer">
  <p>&copy; 2022 Floracyle</p>
</div>

<script src="/static/js/classified_details.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script>

{% endblock %}