{% extends 'base.html' %}

{% block title %}{{ classified.post_title }}{% endblock %}

{% block body %}


<nav class="navbar navbar-light" style="background-color: lightsalmon">
    <span class="navbar-text"></span>
    <span class="navbar-text">
        <strong>Edit highlighted areas. Press 'Save Changes' to apply edits</strong>
      </span>
    <span class="navbar-text"></span>
</nav>

<form action="/classified/{{classified.classified_id}}/published/edit/post" class="form-inline needs-validation" method="post" enctype="multipart/form-data" novalidate>
<fieldset class="classified-body">
  <div class="row">
    <div class="leftcolumn">
      <div class="card">

        <h2>
            <label for="post_title">Title <span class="require">*</span></label>
            <input type="text" class="form-control" value="{{ classified.post_title | capitalize }}" name="post_title" required/>
            <div class="invalid-feedback">
              Please write a title for your classified.
            </div>
        </h2>

        <h5>Posted: {{ classified_gregorian_date }}</h5>
        <img src="{{ classified.post_image }}" class="classified-img">
        <br>

        <label for="post_image">Upload New Image </label>
        <input type="file" class="form-control" name="post_image"/>
        <br>

        <p>
            <label for="description">Description</label>
            <textarea rows="5" class="form-control" name="description">{{ classified.description }}</textarea>
        </p>
        <br>

        <p>
            <label for="cost">Price <span class="require">*</span></label>
            <input type="number" class="form-control" name="cost" value="{{classified.cost}}" required/>
            <div class="invalid-feedback">
              Please indicate price for your offering. Enter '0' for no cost.
            </div>
        </p>
        <br>

        <p>
            <label for="tags">Cost Type </label>

            {% if classified.cost_type == "sale" %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio1" value="sale" checked>
                <label class="form-check-label" for="costTypeRadio1">
                    For sale
                </label>
            </div>
            {% else %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio1" value="sale">
              <label class="form-check-label" for="costTypeRadio1">
                  For sale
              </label>
            </div>
            {% endif %}

            {% if classified.cost_type == "trade" %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio2" value="trade" checked>
                <label class="form-check-label" for="costTypeRadio2">
                    For trade
                </label>
            </div>
            {% else %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio2" value="trade">
              <label class="form-check-label" for="costTypeRadio2">
                  For trade
              </label>
            </div>
            {% endif %}

            {% if classified.cost_type == "free" %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio3" value="free" checked>
                <label class="form-check-label" for="costTypeRadio3">
                    For free
                </label>
            </div>
            {% else %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio3" value="free">
              <label class="form-check-label" for="costTypeRadio3">
                  For free
              </label>
            </div>
            {% endif %}
        </p>
        <br>
        

        <p>
            <label for="tag">Tag (Select any category that applies.)</label>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

            {% if "wedding" in tag_list %}
                <input type="checkbox" class="btn-check" name="tag" id="wedding" value="1" checked>
                <label class="btn btn-outline-primary" for="wedding">Wedding</label>
            {% else %}
              <input type="checkbox" class="btn-check" name="tag" id="wedding" value="1">
              <label class="btn btn-outline-primary" for="wedding">Wedding</label>
            {% endif %}
                
            {% if "succulents" in tag_list %}
              <input type="checkbox" class="btn-check" name="tag" id="succulents" value="2" checked>
              <label class="btn btn-outline-primary" for="succulents">Succulents</label>
            {% else %}
              <input type="checkbox" class="btn-check" name="tag" id="succulents" value="2">
              <label class="btn btn-outline-primary" for="succulents">Succulents</label>
            {% endif %}

            {% if "outdoor" in tag_list %}
                <input type="checkbox" class="btn-check" name="tag" id="outdoor" value="3" checked>
                <label class="btn btn-outline-primary" for="outdoor">Outdoor plants</label>
            {% else %}
              <input type="checkbox" class="btn-check" name="tag" id="outdoor" value="3">
              <label class="btn btn-outline-primary" for="outdoor">Outdoor plants</label>
            {% endif %}

            {% if "indoor" in tag_list %}
                <input type="checkbox" class="btn-check" name="tag" id="indoor" value="4" checked>
                <label class="btn btn-outline-primary" for="indoor">Indoor plants</label>
            {% else %}
                <input type="checkbox" class="btn-check" name="tag" id="indoor" value="4">
                <label class="btn btn-outline-primary" for="indoor">Indoor plants</label>
            {% endif %}

            {% if "landscaping" in tag_list %}
                <input type="checkbox" class="btn-check" name="tag" id="landscaping" value="5" checked>
                <label class="btn btn-outline-primary" for="landscaping">Landscaping</label>
            {% else %}
              <input type="checkbox" class="btn-check" name="tag" id="landscaping" value="5">
              <label class="btn btn-outline-primary" for="landscaping">Landscaping</label>
            {% endif %}

            {% if "event" in tag_list %}
                <input type="checkbox" class="btn-check" name="tag" id="events" value="6" checked>
                <label class="btn btn-outline-primary" for="events">Events</label>
            {% else %}
              <input type="checkbox" class="btn-check" name="tag" id="events" value="6">
              <label class="btn btn-outline-primary" for="events">Events</label>
            {% endif %}

            </div>
            <br>
            <br>

            <div>
                <form class= "form-inline">
                    <button class="btn btn-outline-success" type="submit">Save Changes</button>
                    <button class="btn btn-outline-success">Cancel</button>
                </form>
            </div>
        </p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h3>Location</h3>
        <p>
            <label for="postal_code">Location (Postal code) <span class="require">*</span></label>
            <input type="text" class="form-control" name="postal_code" value="{{classified.postal_code}}" required/>
            <div class="invalid-feedback">
              Please enter the zip code for the location for the offering.
            </div>
        </p>
      </div>

      <div class="card">
        <h2>About the florist</h2>
        <img src="{{ classified.user.image }}">
        <p>{{ classified.user.fname }} {{ classified.user.lname }}</p>
        <p>Joined in: {{ user_gregorian_date }}</p>
        <p>{{ classified.user.about_me }}</p>
      </div>
      <div class="card">
        <h5>Other classifieds from {{ classified.user.fname }}</h5>

        {% for user_classified in classified.user.classifieds %}

          {% if user_classified.classified_id != classified.classified_id  %}
            <a href="/classified/{{ user_classified.classified_id }}">
              {{ user_classified.post_title | capitalize }}
            </a>
            <img src="{{ user_classified.post_image }}">
            <br><br>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</fieldset>
</form>


<script src="/static/js/edit_published_classified.js"></script>
<!-- <script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script> -->

{% endblock %}