{% extends 'base.html' %}
{% block title %}floracycle{% endblock %}

{% block body %}
<br>
<br>
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: white">
  <div class="container-fluid search-nav">

    <form></form>
    
    <form action="/search" role="search" id="search-form">
      <input type="search" id="search-query" name="search"
       placeholder="Search classifieds"
       value=""
       aria-label="Search through site content">
      <button id="search-button">
        <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
      </button>
    </form>

    <form></form>
  </div>
</nav>

  
  <div class="content" style="margin-left: 0px;">


  
    <ul style="padding-left: 0px;">
      <div class="grid-container">
        {% for classified in classifieds %}
        <div class="grid-item">
          <div class="card mb-3" style="display: inline-block; width: 330px; height: 490px; border: darkgreen solid 4px;">
            <img class="card-img-top" src="{{ classified.post_image }}" class="classified-thumbnail" alt="Card image cap" width="" height="200">
            <div class="card-header bg-transparent border-success">
              {% if classified.postal_code > 0 %}
                <p class="small" style="color: #75747c;">{{ classified.location }}</p>
              {% else %}
                <label></label>
              {% endif %}
            </div>
            <div class="card-body">
              <p class="card-title">
                <a href="/classified/{{ classified.classified_id }}">{{ classified.post_title | upper }}</a>
              </p>
              <!-- <p class="card-text">{{ classified.description }}</p> -->
              <p class="card-text">
                {% if classified.cost_type %}
                  For {{ classified.cost_type }}
                {% else %}
                  <label></label>
                {% endif %}
              </p>
            </div>
            <div class="card-footer bg-transparent border-success">
              {% for tag in classified.tags %}
                <button type="button" class="btn btn-outline disabled" style="color: #c26631; padding: 5px; border: #c26631 solid 1px; margin: 3px;">{{ tag.tag_label|title }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
    
        {% endfor %}
    </div>
</div>
  
  </ul>

  <br>
  <br>
  <br>
  <footer class="footer" style="margin-top: 30%; background-color: white;"></footer>

  <script src="/static/js/filter_by_tag.js"></script>
{% endblock %}





