{% extends 'base.html' %}
{% block title %}floracycle{% endblock %}

{% block body %}
<br>
<br>
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: white">
  <div class="container-fluid search-nav">

    <form></form>
    
    <form action="/search" role="search" id="search-form">
      <input type="search" id="search-query" name="search"
       placeholder="Search classifieds"
       value=""
       aria-label="Search through site content">
      <button id="search-button">
        <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
      </button>
    </form>

    <form></form>
  </div>
</nav>




  <!-- <div class="sidebar">
    <div></div>
    <br>
    <form action="/search/category" method="get"> 
    <label class="tag-category"><strong>Categories</strong></label>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="1" id="tag">
      <label class="form-check-label" for="tag">
        Wedding
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="2" id="tag">
      <label class="form-check-label" for="tag">
        Succulents
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="3" id="tag">
      <label class="form-check-label" for="tag">
        Outdoor
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="4" id="tag">
      <label class="form-check-label" for="tag">
        Indoor
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="5" id="tag">
      <label class="form-check-label" for="tag">
        Landscaping
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="tag_id" type="checkbox" value="6" id="tag">
      <label class="form-check-label" for="tag">
        Events
      </label>
    </div>



    <br>
    <label class="price-category"><strong>Price Type</strong></label>
    <div class="form-check">
      <input class="form-check-input" name="cost-type" type="radio" value="sale" id="cost-type">
      <label class="form-check-label" for="cost-type">
        For sale
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="cost-type" type="radio" value="trade" id="cost-type">
      <label class="form-check-label" for="cost-type">
        For trade
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="cost-type" type="radio" value="free" id="cost-type">
      <label class="form-check-label" for="cost-type">
        For free
      </label>
    </div>


    <br>
    <label class="price"><strong>Price</strong></label>

    <div class="col-6">
      <input type="number" class="form-control mb-2" name="price-min" value="" placeholder="$Min">
    </div>
    <p>to</p>
    <div class="col-6">
      <input type="number" class="form-control mb-2" name="price-max" value="" placeholder="$Max">
    </div>

    <br>
    <label class="price">Location</label>

    <div class="col-5">
      <input type="text" class="form-control mb-2" name="miles" value="" placeholder="Miles">
    </div>
    from
    <div class="col-5">
      <input type="text" class="form-control mb-2" name="zip" value="" placeholder="Zip">
    </div>


    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Find</button>
    </div>
  
    </form>
  </div> -->

  
  <div class="content" style="margin-left: 0px;">


  
    <ul style="padding-left: 0px;">
      <div class="grid-container">
        {% for classified in classifieds %}
        <div class="grid-item">
          <div class="card mb-3" style="display: inline-block; width: 320px; height: 480px; border: darkgreen solid 4px;">
            <img class="card-img-top" src="{{ classified.post_image }}" class="classified-thumbnail" alt="Card image cap" width="" height="200">
            <div class="card-header bg-transparent border-success">
              {% if classified.postal_code > 0 %}
                <p class="small" style="color: #75747c;">{{ classified.location }}</p>
              {% else %}
                <label></label>
              {% endif %}
            </div>
            <div class="card-body">
              <p class="card-title">
                <a href="/classified/{{ classified.classified_id }}">{{ classified.post_title | upper }}</a>
              </p>
              <!-- <p class="card-text">{{ classified.description }}</p> -->
              <p class="card-text">
                {% if classified.cost_type %}
                  For {{ classified.cost_type }}
                {% else %}
                  <label></label>
                {% endif %}
              </p>
            </div>
            <div class="card-footer bg-transparent border-success">
              {% for tag in classified.tags %}
                <button type="button" class="btn btn-outline disabled" style="color: #c26631; padding: 5px; border: #c26631 solid 1px; margin: 3px;">{{ tag.tag_label|title }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
    
        {% endfor %}
    </div>
</div>
  
  </ul>

  <br>
  <br>
  <br>

  <script src="/static/js/filter_by_tag.js"></script>
{% endblock %}





