{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/messages_from_classifieds.css">
{% endblock %}


{% block title %}Chats with {{ db_user.fname }}{% endblock %}


{% block body %}

<div class=classified hidden>{{classified}}</div>

<fieldset class="classified-body">
    <div class="row">
      <div class="leftcolumn">




        <div class="card">
          <h2>{{ classified.post_title | capitalize }}</h2>
          <h5>Posted: {{ classified_gregorian_date }}</h5>
          <time datetime="{{ classified.post_time }}"></time>
          <img src="{{ classified.post_image }}" class="chat-post-img">
          <br>
          <!-- <p><strong>Description</strong></p>
          <p>{{ classified.description }}</p>
          <br>
          <p><strong>Price</strong>
            {% if classified.cost == "N/A" %}
              N/A
            {% else %}
              ${{classified.cost}}
            {% endif %}
          </p>
          <br>
  
          {% if classified.cost_type %}
            <p>For {{ classified.cost_type }}</p>
          {% endif %}
          <br>
  
          <p><strong>Tags</strong></p>
          <p>
          {% for tag in classified.tags %}
            {{ tag.tag_label|title }} &emsp;
          {% endfor %}
          </p> -->

        </div>



        <div class="card" id="chat">
            <!-- Page header start -->
            <div class="page-title">
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <h5 class="title"><b>Chats from {{ db_user.fname }} to {{classified.user.fname}}</b></h5>
                        <h6 class="subject">Re: {{classified.post_title | capitalize}}</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
                </div>
            </div>
            <br>

            <!-- Page header end -->
        
            <!-- Content wrapper start -->
            <div class="content-wrapper">
        
                <!-- Row start -->
                <div class="row gutters">
        
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        
                        <div class="card m-0">
        
                            <!-- Row start -->
        
                            <div class="row no-gutters">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                    <div class="chat-container">
                                        <ul class="chat-box chatContainerScroll">

                                            
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="{{classified.user.image}}">
                                                    <div class="chat-name">{{classified.user.fname}}</div>
                                                </div>
                                                <div class="chat-text">Thank you for your interest. Please message me here.</div>
                                                <div class="chat-hour" id="currentDate"></div>
                                            </li>
                            
                                            {% for message in messages %}
                                                {% if message.sender_id == db_user.user_id %}
                                                    <li class="chat-right">
                                                        <div class="chat-hour">{{message.message_time}}<span class="fa fa-check-circle"></span></div>
                                                        <div class="chat-text">{{message.message}}</div>
                                                        <div class="chat-avatar">
                                                            <img src="{{ db_user.image }}">
                                                            <div class="chat-name">{{ db_user.fname }}</div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% for message in messages %}
                                                {% if message.sender_id == classified.user.user_id %}
                                                <li class="chat-left">
                                                    <div class="chat-avatar">
                                                        <img src="{{classified.user.image}}">
                                                        <div class="chat-name">{{classified.user.fname}}</div>
                                                    </div>
                                                    <div class="chat-text">{{message.message}}</div>
                                                    <div class="chat-hour">{{message.message_time}}<span class="fa fa-check-circle"></span></div>
                                                </li>
                                                {% endif %}
                                            {% endfor %}

                                            <div class="message_holder"></div>

        
                                        </ul>
                                    </div>
                                    <div class="form-group mt-3 mb-0">
                                        <form id="message">
                                            <div style="padding-top: 5px;"></div>
                                            <input type="text" class="message form-control" id="message-field" value="" placeholder="Type your message here...">
                                            <div style="padding-top: 5px;"></div>
                                            <button type="submit" id="send" class="btn btn-success btn-block">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>
                    </div>
        
                </div>
                <!-- Row end -->
        
            </div>
            <!-- Content wrapper end -->
        
        </div>
      </div>






      <div class="rightcolumn">
        <div class="card">
          <h3>Location</h3>
          <p>
            {% if classified.postal_code %}
              {{ classified.location }}
              <section class="map">
                <div id="map"></div>
              </section>
            {% elif classified.postal_code == 0 %}
              <div>Not available</div>
            {% endif %}
          </p>
          <p class='postal_code' hidden>{{ classified.postal_code }}</p>
        </div>
  
        <div class="card">
          <h2>About the florist</h2>
          <img src="{{ classified.user.image }}">
          <p>{{ classified.user.fname }} {{ classified.user.lname }}</p>
          <p>Joined in: {{ user_gregorian_date }}</p>
  
          {% if classified.user.about_me %}
            <p>{{ classified.user.about_me }}</p>
          {% endif %}
        
        
        </div>
        <div class="card">
          <h5>Other classifieds from {{ classified.user.fname }}</h5>
  
          {% for user_classified in classified.user.classifieds %}
  
            {% if user_classified.classified_id != classified.classified_id  %}
              <a href="/classified/{{ user_classified.classified_id }}">
                {{ user_classified.post_title | capitalize }}
              </a>
              <img src="{{ user_classified.post_image }}">
              <br><br>
            {% endif %}
  
          {% endfor %}
        </div>
      </div>
    </div>
  </fieldset>

  <script>const classified_id = {{classified.classified_id}}</script>
  <script src="/static/js/messages_from_classifieds.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
  </script>



<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect( 'http://' + document.domain + ':' + location.port );
    socket.on('connect', function() {
        socket.emit('my event', {

        })
        const form = $( 'form' ).on( 'submit', function( evt ) {
            evt.preventDefault();
            let user_input = $( 'input.message' ).val();
            socket.emit( 'my event', {
                message : user_input
            } )
            // empty the input field
            $( 'input.message' ).val( '' ).focus()

            // Make fetch request to send to server, POST request
            // Also send classified info to add to Messages table

            const message_time = new Date().toLocaleString();

            const formInputs = {
                message: user_input,
                message_time: message_time,
            };

            fetch('/classified/{{classified.classified_id}}/send/message', {
                method: 'POST',
                body: JSON.stringify(formInputs),
                headers: {
                'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // document.querySelector('.message_holder').innerAdjacentHTML('beforeend', data)
                });
            });


            // Capture message
            socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.message !== 'undefined' && typeof msg.message !== '' ) {
                $( 'div.message_holder' ).append( 
                        '<li class="chat-right"><div class="chat-hour">'+message_time+'<span class="fa fa-check-circle"></span></div><div class="chat-text">'+msg.message+'</div><div class="chat-avatar"><img src="{{ db_user.image }}"><div class="chat-name">{{ db_user.fname }}</div></div></li>')
            }
        } )
    })
</script> -->


{% endblock %}
