{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/messages_from_classifieds.css">
{% endblock %}


{% block title %}Chats with {{ db_user.fname }}{% endblock %}


{% block body %}

<div class=classified hidden>{{classified}}</div>

<fieldset class="classified-body">
      <!-- ********************** -->
      <!-- LEFT Card Column -->
      <div class="leftcolumn">
        <div class="card containter">
          <div class="row">
            <h2>{{ classified.post_title | capitalize }}</h2>
            <h5>Posted: {{ classified_gregorian_date }}</h5>
            <time datetime="{{ classified.post_time }}"></time>
            <div class="col-xs-6 col-md-4">
              <br>
              <img src="{{ classified.post_image }}" class="chat-post-img">
            </div>
            <div class="col-xs-12 col-md-8">
              <br>
              <h6><strong>Description</strong></h6>
              <p>{{ classified.description }}</p>

              <h6><strong>Price</strong></h6>
                {% if classified.cost == "N/A" %}
                  N/A
                {% else %}
                  <p>${{classified.cost}}</p>
                {% endif %}
              
      
              {% if classified.cost_type %}
                <p style="color: #c26631;">For {{ classified.cost_type }}</p>
              {% endif %}

              <h6><strong>Tags</strong></h6>
              <p>
              {% for tag in classified.tags %}
                <button type="button" class="btn btn-outline disabled" style="color: #c26631; padding: 5px; border: #c26631 solid 1px; margin: 3px;">{{ tag.tag_label|title }}</button>
              {% endfor %}
              </p>
            </div>
          </div>
        </div>


        <!-- Chat messages -->
        <div class="card" id="chat">
            <!-- Chat header -->
            <div class="page-title">
              <h5 class="title"><b>Chats from {{ db_user.fname }} to {{classified.user.fname}}</b></h5>
              <h6 class="subject">Re: {{classified.post_title | capitalize}}</h6>
            </div>
            <br>
            <!-- Chat box -->
            <div class="card m-0">
              <div class="chat-container">
                  <ul class="chat-box chatContainerScroll">

                    <!-- Stock message -->
                    <div class="stock-message" value="Thank you"></div>
                      <li class="chat-left">
                          <div class="chat-avatar">
                              <img src="{{classified.user.image}}">
                              <div class="chat-name">{{classified.user.fname}}</div>
                          </div>
                          <div class="chat-text">Thank you for your interest. Please message me here.</div>
                          <div class="chat-hour" id="currentDate"></div>
                      </li>
                      
                      <!-- Messages from buyer inquirer -->
                      {% for message in messages %}
                          {% if message.sender_id == db_user.user_id %}
                              <li class="chat-right">
                                  <div class="chat-hour">{{message.message_time.strftime("%m/%-d/%Y %-I:%M %p")}}<span class="fa fa-check-circle"></span></div>
                                  <div class="chat-text">{{message.message}}</div>
                                  <div class="chat-avatar">
                                      <img src="{{ db_user.image }}">
                                      <div class="chat-name">{{ db_user.fname }}</div>
                                  </div>
                              </li>
                          {% endif %}
                      {% endfor %}

                      {% for message in messages %}
                          {% if message.sender_id == classified.user.user_id %}
                          <li class="chat-left">
                              <div class="chat-avatar">
                                  <img src="{{classified.user.image}}">
                                  <div class="chat-name">{{classified.user.fname}}</div>
                              </div>
                              <div class="chat-text">{{message.message}}</div>
                              <div class="chat-hour">{{message.message_time.strftime("%m/%-d/%Y %-I:%M %p")}}<span class="fa fa-check-circle"></span></div>
                          </li>
                          {% endif %}
                      {% endfor %}

                      <!-- New messages get placed here -->
                      <div class="message_holder"></div>

                  </ul>
                </div>

                <!-- Send button -->
                <div class="form-group mt-3 mb-0">
                    <form id="message">
                        <input type="text" class="message form-control" id="message-field" value="" placeholder="Type your message here...">
                        <div style="padding-top: 5px"></div>
                        <button type="submit" id="send" style="right: 50px" class="btn btn-success btn-block">Send</button>
                        <div style="padding-top: 30px;"></div>
                    </form>
                </div>
              </div>
            </div>


      </div>


      <!-- ********************** -->
      <!-- RIGHT Card Column -->
      <div class="rightcolumn">
        <div class="card">
          <h3>Location</h3>
          <p>
            {% if classified.postal_code %}
              {{ classified.location }}
              <section class="map">
                <div id="map"></div>
              </section>
            {% elif classified.postal_code == 0 %}
              <div>Not available</div>
            {% endif %}
          </p>
          <p class='postal_code' hidden>{{ classified.postal_code }}</p>
        </div>
  
        <div class="card">
          <h2>About the florist</h2>
          <img src="{{ classified.user.image }}">
          <p>{{ classified.user.fname }} {{ classified.user.lname }}</p>
          <p>Joined in: {{ user_gregorian_date }}</p>
  
          {% if classified.user.about_me %}
            <p>{{ classified.user.about_me }}</p>
          {% endif %}
        
        
        </div>
        <div class="card">
          <h5>Other classifieds from {{ classified.user.fname }}</h5>
  
          {% for user_classified in classified.user.classifieds %}
  
            {% if user_classified.classified_id != classified.classified_id  %}
              <a href="/classified/{{ user_classified.classified_id }}">
                {{ user_classified.post_title | capitalize }}
              </a>
              <img src="{{ user_classified.post_image }}">
              <br><br>
            {% endif %}
  
          {% endfor %}
        </div>
    </div>
  </fieldset>

  <script>const classified_id = {{classified.classified_id}}</script>
  <script>const classified_user_image = "{{classified.user.image}}"</script>
  <script>const classified_user_name = "{{classified.user.fname}}"</script>
  <script src="/static/js/messages_from_classifieds.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
  </script>


{% endblock %}
