{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/messages.css">
{% endblock %}


{% block title %}Chats with {{ db_user.fname }}{% endblock %}

{% block js %}
<!-- <script src="/static/js/messages.js" type="text/js"></script> -->
{% endblock %}

{% block body %}


<div class="container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <br>
                <h5 class="title"><b>Chats from {{ db_user.fname }} to {{classified.user.fname}}</b></h5>
                <h6 class="subject">Re: {{classified.post_title | capitalize}}</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->

                    <div class="row no-gutters">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll">
                                    <li class="chat-right">
                                        <div class="chat-hour">time sent <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text">Hi, I'm interested in this listing.</div>
                                        <div class="chat-avatar">
                                            <img src="{{ db_user.image }}">
                                            <div class="chat-name">{{ db_user.fname }}</div>
                                        </div>
                                    </li>
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="{{classified.user.image}}">
                                            <div class="chat-name">{{classified.user.fname}}</div>
                                        </div>
                                        <div class="chat-text">Yes it is available.</div>
                                        <div class="chat-hour">time sent <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <div class="message_holder"></div>

                                </ul>
                            </div>
                            <div class="form-group mt-3 mb-0">
                                <form action="" method="POST">
                                    <div style="padding-top: 5px;"></div>
                                    <input type="text" class="message form-control" placeholder="Type your message here...">
                                    <div style="padding-top: 5px;"></div>
                                    <button type="submit" class="btn btn-success btn-block">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect( 'http://' + document.domain + ':' + location.port );
    socket.on('connect', function() {
        socket.emit('my event', {
            data: 'I\'m connected!'
        })
        const form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            let user_input = $( 'input.message' ).val()
            socket.emit( 'my event', {
                message : user_input
            } )
            // empty the input field
            $( 'input.message' ).val( '' ).focus()
            } )


            // Capture message
            socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.message !== 'undefined' && typeof msg.message !== '' ) {
                $( 'div.message_holder' ).append( 
                        '<li class="chat-right"><div class="chat-hour">time sent <span class="fa fa-check-circle"></span></div><div class="chat-text">'+msg.message+'</div><div class="chat-avatar"><img src="{{ db_user.image }}"><div class="chat-name">{{ db_user.fname }}</div></div></li>')
            }
        } )
    })
</script>

{% endblock %}
