{% extends 'base.html' %}

{% block title %}Create New Classified{% endblock %}

{% block body %}


<br>
<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create a new listing</h1>

    		<form action="/classified/new/post" method="post" enctype="multipart/form-data">
    		    
    		    <div class="form-group">
    		        <label for="post_title">Title <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="post_title" />
    		    </div>

				<label for="tag">Tag (Click any category that applies.)</label>
				<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
					
					<input type="checkbox" class="btn-check" name="tag" id="wedding" value="1">
					<label class="btn btn-outline-primary" for="wedding">Wedding</label>
				  
					<input type="checkbox" class="btn-check" name="tag" id="succulents" value="2">
					<label class="btn btn-outline-primary" for="succulents">Succulents</label>
				  
					<input type="checkbox" class="btn-check" name="tag" id="outdoor" value="3">
					<label class="btn btn-outline-primary" for="outdoor">Outdoor plants</label>

					<input type="checkbox" class="btn-check" name="tag" id="indoor" value="4">
					<label class="btn btn-outline-primary" for="indoor">Indoor plants</label>

					<input type="checkbox" class="btn-check" name="tag" id="landscaping" value="5">
					<label class="btn btn-outline-primary" for="landscaping">Landscaping</label>

					<input type="checkbox" class="btn-check" name="tag" id="events" value="6">
					<label class="btn btn-outline-primary" for="events">Events</label>
				</div>
    		    
    		    <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio1" value="sale">
					<label class="form-check-label" for="costTypeRadio1">
						For sale
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio2" value="trade">
					<label class="form-check-label" for="costTypeRadio2">
						For trade
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="cost_type" id="costTypeRadio3" value="free">
					<label class="form-check-label" for="costTypeRadio3">
						For free
					</label>
				</div>
                
                <div class="form-group">
    		        <label for="cost">Price </label>
    		        <input type="text" class="form-control" name="cost" />
    		    </div>

                <div class="form-group">
    		        <label for="postal_code">Location (Postal code) <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="postal_code" />
    		    </div>

                <div class="form-group">
    		        <label for="post_image">Upload Images </label>
    		        <input type="file" class="form-control" name="post_image" />
    		    </div>
                <br>
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
    		        <button class="btn btn-default">
    		            Cancel
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>

{% endblock %}