{% extends 'base.html' %}

{% block title %}Password sent{% endblock %}

{% block body %}



    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 text-black">
          <div class="align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
              <br>
              <br>
              <br>
              <h3>Password sent!</h3>
              <br>
              <h5 style="font-family: 'Poppins', sans-serif;">{{sent_pw_message}} Check your email and follow login instructions there.</h5>
              
          </div>
        </div>
        <div class="col-sm-7 px-0 d-none d-sm-block">
          <img src="/static/images/floracycle_sent_password.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>

  

{% endblock %}
